/* at least 10 selectors
    two or more fonts for diff content
    set background color of some elements
    set border of some elements
    use :hover-pseudo-class for one or more elements
    use at least one class-based selector
    use at least one id-based selector
    have at least one selector rely on hierarchical relationship between two elements
    use width / height to control geometry of an element
    validate as css3 using the w3c css validation tool (link on assignment) */

.subtitle {
    text-align: center;
    color: #2f4f4f;
    font-size:x-large;
    font-family:'Courier New', Courier, monospace
}

p.description {
    border-style:double;
    border-color:#556b2f;
    font-family:fantasy
}

.categories {
    text-align:center;
    background-color:#fffacd;
    font-family: cursive;
    font-size: medium;
}

a:hover {
    color:#c71585;
}

.main {
    letter-spacing: 1em;
    color:#8b0000;
    text-align:center;
    font-size:xx-large;
    font-family:'Courier New', Courier, monospace;
}

#spice {
    text-align:right;
    background-color:#696969;
    width: 250px;
    height: 69px;
}

.small {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.large {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
}

.larger {
    font-size: xx-large;
    color: #691435;
    letter-spacing: 1em;
}

.footnote {
    font-size:xx-small;
}

div > p {
    background-color:#f5f5f5;
}