/* at least 10 selectors
    two or more fonts for diff content
    set background color of some elements
    set border of some elements
    use :hover-pseudo-class for one or more elements
    use at least one class-based selector
    use at least one id-based selector
    have at least one selector rely on hierarchical relationship between two elements
    use width / height to control geometry of an element
    validate as css3 using the w3c css validation tool (link on assignment) */

.subtitle {
    text-align: center;
    color: darkslategray;
    font-size:x-large;
    font-family:'Courier New', Courier, monospace
}

p.description {
    outline-style: double;
    outline-color:darkolivegreen;
    font-family:fantasy
}

.categories {
    text-align:center;
    background-color: lemonchiffon;
    font-family: cursive;
    font-size: medium;
}

a:hover {
    color:mediumvioletred;
}

.main {
    letter-spacing: 1em;
    color:darkred;
    text-align:center;
    font-size:xx-large;
    font-family:'Courier New', Courier, monospace;
}

#spice {
    text-align:right;
    background-color:dimgray;
    width: 250px;
    height: 69px;
}